#map {
    width: 600px;
    height: 400px;
    transition: filter 0.3s ease;  /* Smooth grey-out transition */
}

html, body
{
    height: 100%;
    margin: 0;
}

#loadingIndicator {
    display: none;
}